body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    flex-direction: column;
}

canvas {
    background-color: white;
    border: 1px solid black;
}

h1 {
    text-align: center;
}
